
*.pyc
single_person_history.xlsx
test_person.py
*.xlsx
test_person_life_functions.py
*.db
*.db-shm
*.db-wal
test_files/test_city_marriage_issues.csv
test_files/test_city_marriage_issues2.csv
test_files/test_city_marriage_issues3.csv
test_files/test_city_marriage_issues4.csv
test_files/test_city_marriage_issues5.csv
test_files/test_city_marriage_issues6.csv
test_files/test_city_marriage_issues7.csv
test_files/test_city_child_is_born1.csv
test_files/test_city_child_is_born2.csv
test_files/test_city_child_is_born3.csv
test_files/test_city_child_is_born4.csv
test_files/test_city_loand_payment_spender_profile.csv
test_files/test_city_loand_payment_spender_profile1.csv
test_files/test_city_loand_payment_spender_profile2.csv
test_files/test_city_loand_payment_spender_profile3.csv
test_files/test_city_loand_payment_spender_profile4.csv
test_files/test_city_loand_payment_spender_profile5.csv
test_files/test_city_loand_payment_spender_profile6.csv
test_files/test_city_loand_payment_spender_profile7.csv
test_files/test_city_1000_init_pop_100_years_1950_start_year_2024_02_11.csv
test_files/test_city_1000_init_pop_100_years_1950_start_year_2024_02_11.zip
coelho/*
*.log
*.csv
test_files/funny test.csv
dashboards/exploration dashboard.pbix
